.homeSection {
    // filter: brightness(50%);
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/home-banner.png');
    background-image: url('../../assets/images/home-banner.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    isolation: isolate;


    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        ::after {
            position: absolute;
            inset: 0;
            content: "";
            z-index: -1;
            background: linear-gradient(90deg, rgb(28 33 37 / 31%) 27%, rgb(16 21 24 / 21%) 90%);
        }

        h1 {
            color: var(--priColor);
        }

        .getStartedBtn {
            width: 15rem;

        }
    }

    .gradient {
        background: linear-gradient(180deg, rgba(19, 21, 22, 0), rgb(1, 0, 18));
        height: 21%;
        position: absolute;
        width: 100%;
        bottom: 0rem;
    }

    @media screen and (max-width: 768px) {
        height: 500px;

        >div {

            .getStartedBtn {
                width: 13rem;
            }
        }
    }

}